<app-navbar></app-navbar>
<section id="footer-video">
    <div class="video-background">
        <video autoplay muted loop>
            <source src="./assets/images/about/video3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</section>

<section id="about-head" class="section-p1">
    <img src="../assets/images/about/who.jpg" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolore distinctio enim, reiciendis
            consequatur ipsam facere alias ab, tempore accusamus quisquam eveniet architecto delectus omnis ex
            tenetur voluptates, velit ut!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic deserunt ex eius molestias suscipit
            non quos iste tempore. Nam, inventore. Repudiandae veritatis optio eius? Est deserunt animi aperiam
            fugiat.
        </p>
        <abbr title="our goal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sapiente omnis
            veniam,
            commodi voluptate error nulla dicta!</abbr>
        <br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Ex voluptate
            aliquam sit, magnam temporibus officia consequuntur!</marquee>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Download Our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay muted loop src="../assets/images/about/video.mp4"></video>

    </div>
</section>

<app-news></app-news>
<app-footer></app-footer>

